# Fichiers compilés Python
__pycache__/
*.py[cod]
*.so

# Répertoires d'environnement virtuel
/env/
venv/

# Fichiers de configuration locaux
.env

# Fichiers de log
*.log

# Dossiers de build
build/
dist/
*.egg-info/

# Système d'exploitation
.DS_Store
Thumbs.db
