<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="icon" type="image/ico" sizes="32x32" href="https://serveurtest.alwaysdata.net/assets/favicon.ico">
    <link rel="stylesheet" href="https://serveurtest.alwaysdata.net/assets/css/app.css">
</head>
<body>
    <h1>Welcome to my Flask App</h1>

    <!-- Your content here -->

    <script src="https://serveurtest.alwaysdata.net/assets/js/app.js"></script>
</body>
</html>
